
body{
  font-family: 'Karla', sans-serif;
}
.toggle-btn{
  position: fixed;
  margin: 1.4em;
  padding: 1em;
  width: 40px;
  height: 12px;
  right: 0;
  z-index: 1;
}
span.one{
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #8CC63F;
}
span.two{
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #8CC63F;
  margin-top: 12px;
}
.menu{
  z-index: 0;
  position: absolute;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  top: -100%
}
.data{
  padding: 8em 0 0 2em;
  text-align: left;
}
ul{
  list-style: none;
}
li:first-child{
  color: lightgoldenrodyellow;
  font-size: 24px;
}
li:not(:first-child){
  font-size: 42px
}
li:hover{
  font-size: 45px;
  font-weight: bold;
  transition: 1.5 hover ease-in;
}
a{
  text-decoration: none;
  color: #8CC63F;
}
a:hover{
  color: #8CC63F;
  text-decoration: none;
  
}